.site-title, .title, blockquote.authorsnote h2 { font-family: 'var(--font-accent)', Georgia, 'Times New Roman', Times, serif; }
.title { font-weight: normal; }

.widget-breadcrumbs li, .widget-breadcrumbs li a, .widget-breadcrumbs li, .widget-breadcrumbs li span { text-transform: lowercase; font-weight: normal; }
.menu li {text-transform:lowercase}

.upper-page-links { float: right; }

.entry-content h3 { font-size: 80%; text-transform: uppercase; font-weight:600; margin: 0; text-align:right; padding: 0; }
.entry-content h4 { font-size: 80%; text-transform: uppercase; font-weight:600; margin: 0 0 2em 0; text-align:right; padding: 0; }

.logo { margin-bottom: 2em; }

.list { margin-top: 1em; }
.list .list { margin-left: 1em; }
.list .item-title {font-weight: normal; }

blockquote, code, pre { font-size: 90%; }

blockquote.authorsnote { border-left: .2em solid var(--color-accent); font-style: normal; }
blockquote.authorsnote h2 {font-size: 100%; text-transform: uppercase; font-weight:500; }
blockquote.authorsnote h3, blockquote.authorsnote h4 {text-align: left;}

a { text-decoration: none; transition:color .1s ease-in-out }
a:active, a:focus, a:hover, .item a:hover, a:hover h3, .widget-social_menu a:hover { color: var(--color-accent); }

.comment-content a, .entry-content a { border-bottom: unset; text-decoration: underline dotted var(--color-accent) }
.comment-content a:hover, .entry-content a:hover { border-bottom: unset; text-decoration: underline var(--color-accent) }
a.footnote-backref, a.footnote-backref:hover { text-decoration:none; }

.foreign-lang { font-style:italic; text-decoration:dotted; }

.footnotes { font-size: 90%; }